{
    "printWidth": 100,
    "trailingComma": "none",
    "tabWidth": 2,
    "semi": false,
    "arrowParens":"avoid",
    "bracketSpacing": true,
    "singleQuote": false,
    "vueIndentScriptAndStyle": true,
    "endOfLine": "lf"
}